@use '../../../styles/partials/variables' as *;



.country {
    background-color: var(--element-bg);
    overflow: hidden;
    border-radius: 5px;
    height: 336px;
    width: 264px;
    box-shadow: $shadow-all;
    h2 {
        font-size: 18px;
        font-weight: 800;
        margin: 0;
        padding-bottom: 16px;
    }

    p {
            padding-bottom: 4px;

    }
    img {
        width: 100%;
        height: 160px;
    }

    .content {
        padding: 24px;
    }
}
