@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/font' as *;


header {
    padding: 30px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: $shadow-sm;
    h1{
        font-size: $font-size-base;
        font-weight: bold;
    }
}

   